<div class="card mx-auto" style="max-width: 500px;">
  <div class="card-body">
    <h5 class="card-title">Editar curso {{editarCursoForm.get('curso')?.value}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Datos del curso</h6>


    <form [formGroup]="editarCursoForm" (ngSubmit)="editarCurso(editarCursoForm.value)">
      <div class="row">
        <div class="col  ">

          <!--    Campo id de curso      -->
          <label for="id">Id</label>
          <input id="id"
                 type="text"
                 name="id"
                 formControlName="id"
                 class="form-control-plaintext"
                 readonly
          >

          <!--    Campo curso (nombre del curso)      -->
          <label for="curso">Nombre</label>
          <input id="curso"
                 type="text"
                 name="curso"
                 placeholder="Escriba el nombre del curso aqui"
                 formControlName="curso"
                 class="form-control"
          >

          <!--    Campo programa del curso      -->
          <label for="programa">Programa</label>
          <input id="programa"
                 type="text"
                 name="programa"
                 placeholder="Ingrese el programa al que pertenece"
                 formControlName="programa"
                 class="form-control"
          >

          <br>

          <div class="row justify-content-center mt-3">
            <div class="col-6">
              <button type="submit" class="btn btn-primary btn-block">Editar curso</button>
            </div>
            <div class="col-6">
              <button type="button" class="btn btn-danger btn-block" (click)="cancelarEditarCurso()">Cancelar</button>
            </div>
          </div>


        </div>
      </div>
    </form>


  </div>
</div>
