<form [formGroup]="editarCursoForm" (ngSubmit)="editarCurso(editarCursoForm.value)">
  <div class="row">
    <label for="nombre">Nombre</label>
    <input id="nombre" type="text" name="nombre" placeholder="Escriba el nombre del curso aqui">
  </div>

  <div class="row">
    <div class="col col-4">
      <label for="programa">Programa</label>
      <input id="programa"
             type="text"
             name="programa"
             placeholder="Ingrese el programa al que pertenece"
             formControlName="programa"
             class="form-control"
      >
    </div>
  </div>

  <div class="row">
    <div class="col col-4">
      <button type="submit" class="btn btn-primary">Crear curso</button>
      <button type="button" class="btn btn-danger" (click)="cancelarCrearCurso()">Cancelar</button>
    </div>
  </div>
</form>
