<div class="container-fluid max-width-900">

  <!--  Listado de cursos -->
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Programa</th>
      <th scope="col">Curso</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>

    <!--  Este codigo imprime curso por curso del listado de cursos  -->
    <ng-container *ngFor="let curso of cursos">
      <tr>
        <td (click)="onSelected(curso)">{{curso.id}}</td>
        <td (click)="onSelected(curso)">{{curso.programa}}</td>
        <td (click)="onSelected(curso)">{{curso.curso}}</td>
        <td (click)="borrarCurso(curso)"><img src="../../../assets/delete.png"  alt="borrar curso"/></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
  <div class="row justify-content-center mt-3">
    <div class="col-6">
      <button type="submit" class="btn btn-primary btn-block" (click)="crearCurso()" >Crear curso</button>
    </div>
  </div>
</div>
