<div class="container-fluid max-width-900">

<!--  &lt;!&ndash;  Detalle de un curso &ndash;&gt;-->
<!--  <div *ngIf="false" class="row row-cols-1">-->
<!--    <div>-->
<!--      <app-detalle-curso [curso]="cursoSelected" ></app-detalle-curso>-->
<!--    </div>-->
<!--  </div>-->

  <!--  Listado de cursos -->
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Codigo</th>
      <th scope="col">Programa</th>
      <th scope="col">Curso</th>
      <th scope="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>

    <!--  Este codigo imprime curso por curso del listado de cursos  -->
    <ng-container *ngFor="let curso of cursos">
      <tr>
        <td (click)="onSelected(curso)">{{curso.id}}</td>
        <td (click)="onSelected(curso)">{{curso.programa}}</td>
        <td (click)="onSelected(curso)">{{curso.curso}}</td>
        <td (click)="borrarCurso(curso)"><img src="../../../assets/delete.png"  alt="borrar curso"/></td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
